root = "./"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/ownstak-proxy"
  pre_cmd = [
    "kill $(lsof -t -i:3000) 2>/dev/null || true",
    "kill $(lsof -t -i:3443) 2>/dev/null || true"
  ]
  cmd = "go build -o ./tmp/ownstak-proxy ./src"
  post_cmd = []
  delay = 1000
  exclude_dir = ["tmp", "certs", "dist", "scripts", "mocks", "e2e-tests"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
