name: Build
on:
  pull_request:

# Stop previous runs when new commit is pushed into the MR
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.23.0
defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build the project
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: 'Cache Go modules'
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-build-cache-${{ env.GO_VERSION }}-${{ hashFiles('go.sum') }}

      - name: Display Go version
        run: go version

      - name: Run the build script
        run: ./scripts/build.sh