name: Release

on:
  release:
    types: [published]
  workflow_dispatch:
      inputs:
          version_tag:
              description: 'Version tag (e.g., next, latest)'
              required: true
              type: string
              default: 'next'
env:
  GO_VERSION: 1.24.3
  AWS_ACCESS_KEY_ID: ${{ vars.ECR_AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.ECR_AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ vars.ECR_AWS_REGION }}
  DEBIAN_FRONTEND: noninteractive
  
defaults:
  run:
    shell: bash

jobs:
  release:
    name: Release
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Install Basic Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y ca-certificates curl unzip git sudo apt-transport-https gnupg lsb-release
          sudo update-ca-certificates

      - uses: actions/checkout@v4

      - name: Install Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: 'Cache'
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/go/bin
            ~/.cache/go-build
          key: ${{ runner.os }}-build-cache-${{ env.GO_VERSION }}-${{ hashFiles('go.sum') }}

      - name: Display Go version
        run: go version

      - name: Install Docker
        run: |
          curl -fsSL https://get.docker.com -o get-docker.sh
          sudo sh get-docker.sh
          docker --version

      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip > /dev/null 2>&1
          ./aws/install
          rm -rf aws awscliv2.zip
          aws --version

      - name: Configure AWS CLI
        run: |
          aws configure set aws_access_key_id "${{ env.AWS_ACCESS_KEY_ID }}" --profile default
          aws configure set aws_secret_access_key "${{ env.AWS_SECRET_ACCESS_KEY }}" --profile default
          aws configure set aws_region "${{ env.AWS_REGION }}" --profile default

      - name: Determine version tag
        id: version_tag
        run: |
            if [ "${{ github.event_name }}" == "release" ] || [ "${{ inputs.version_tag }}" == "" ]; then
                echo "version_tag=latest" >> $GITHUB_OUTPUT
            else
                echo "version_tag=${{ inputs.version_tag }}" >> $GITHUB_OUTPUT
            fi

      - name: Set version from release
        if: steps.version_tag.outputs.version_tag == 'latest'
        run: ./scripts/version.sh set ${GITHUB_REF_NAME#v}

      - name: Append version tag
        if: steps.version_tag.outputs.version_tag != 'latest'
        run: |
          COMMIT_HASH=$(echo "${{ github.sha }}" | cut -c1-7)
          VERSION_TAG="${{ steps.version_tag.outputs.version_tag }}"
          TIMESTAMP=$(date +%s)
          ./scripts/version.sh tag "${VERSION_TAG}-${COMMIT_HASH}-${TIMESTAMP}" # e.g. 1.0.1-next-a1b2c3d-1744196863

      - name: Build the project
        run: ./scripts/build.sh

      - name: Release the docker images
        run: ./scripts/release.sh

      - name: Bump version for the next release
        run: ./scripts/version.sh bump

      - name: Upload release binaries
        uses: softprops/action-gh-release@v2.2.1
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push the new version to the repository
        run: |
          git config --global --add safe.directory $(pwd)
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .env
          git commit -m "Bump version" || echo "Nothing to commit"
          git push origin HEAD:main || echo "Nothing to push"