name: Commit CI

on:
  push:
    # only trigger on branches, not on tags
    branches: '**'

# Stop previous runs when new commit is pushed into the MR
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: 1.23.0
  DEBIAN_FRONTEND: noninteractive

defaults:
    run:
        shell: bash

jobs:
    format-check:
        name: Tests & format check
        runs-on: [self-hosted, linux, arm64]
        timeout-minutes: 15
        continue-on-error: true
        container:
            image: node:22
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: 'Cache'
              uses: actions/cache@v4
              with:
                path: |
                  ~/go/pkg/mod
                  ~/.cache/go-build
                key: ${{ runner.os }}-build-cache-${{ env.GO_VERSION }}-${{ hashFiles('go.sum') }}

            - name: Install Go ${{ env.GO_VERSION }}
              uses: actions/setup-go@v5
              with:
                go-version: ${{ env.GO_VERSION }}

            - name: Run tests
              run: ./scripts/test.sh
